@{
    ViewBag.Title = "Contact";
}

<div class="contact-us">
    <h2>Contact Us</h2>
    <address>
        28855 Sunset Dr.<br />
        Macon, MO 63552<br />
    </address>
    <address>
        <strong>Phone: </strong>(660)956-4355<br />
        <strong>Support: </strong><a href="mailto:mongoo.lebron@hotmail.com">
            mongoo.lebron@hotmail.com</a><br />
    </address>
</div>