@model Capstone_MVC.Models.Error

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="error-messages">
        <hgroup>
            <h1>@Model.ErrorHeader</h1>
            <h4>@Model.ErrorMessage</h4>
        </hgroup>
    </div>
</body>
</html>